<nav class="nav-bar">
<div class="nav-item"><a class="nav-link" href="/home">HOME</a></div>
    <div class="nav-item"><a class="nav-link" href="#">WALLET</a></div>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">SERVICES</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">RECHARGE & BILLS &raquo;</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mobile Prepaid</a></li>
                    <li><a class="dropdown-item" href="#">Mobile Postpaid</a></li>
                    <li><a class="dropdown-item" href="#">DTH</a></li>
                    <li><a class="dropdown-item" href="#">Broadband</a></li>
                    <li><a class="dropdown-item" href="#">Cable TV</a></li>
                    <li><a class="dropdown-item" href="#">Insurance</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">ETECH SERVICES &raquo;</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Cable TV & Internet</a></li>
                    <li><a class="dropdown-item" href="#">Self Drive Car & Travels</a></li>
                    <li><a class="dropdown-item" href="#">Water Supply</a></li>
                    <li><a class="dropdown-item" href="#">Groceries</a></li>
                    <li><a class="dropdown-item" href="#">Marriage Assembling</a></li>
                    <li><a class="dropdown-item" href="#">Advertising & Marketing</a></li>
                    <li><a class="dropdown-item" href="#">Excavators & Cranes</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item" href="#">FINANCIAL SERVICES &raquo;</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Cash Req</a></li>
                    <li><a class="dropdown-item" href="#">Loan Collection</a></li>
                    <li><a class="dropdown-item" href="#">EB Bill</a></li>
                    <li><a class="dropdown-item" href="#">Deposit Req</a></li>
                    <li><a class="dropdown-item" href="#">New Loans</a></li>
                    <li><a class="dropdown-item" href="#">New Invest</a></li>
                </ul>
            </li>
        </ul>
    </div>
 <!-- PARTNER Dropdown -->
<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">PARTNER</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/partner-list">PARTNER</a></li>
        <li><a class="dropdown-item" href="/vendor-list">VENDOR</a></li>
        <li><a class="dropdown-item" href="/customer-list">CUSTOMER</a></li>
    </ul>
</div>
    <div class="nav-item"><a class="nav-link" href="#">MIS</a></div>
    <div class="nav-item"><a class="nav-link" href="#">HELP DESK</a></div>
</nav>
